<channels>
</channels>
<channel>
<name>[B][COLOR white]1ª TEMPORADA[/COLOR][/B]</name>
<thumbnail>https://i.imgur.com/rTpDaAr.jpg</thumbnail>
<externallink>https://raw.githubusercontent.com/nunca1/-/master/series/Game%20of%20Thrones/S01.xml</externallink>
<fanart>https://i.imgur.com/Wh8ZGKm.jpg</fanart>
<info></info>
<date></date>
</channel>

